{{ 'banner.css' | asset_url | stylesheet_tag }}
<div class="banner">
    <div class="banner__slider">
        {% for block in section.blocks %}
          {% if block.settings.image != blank %}
            <div class="banner__slide">
              {{ block.settings.image | image_url: width: 1450 | image_tag:
                loading: 'lazy',
                class: 'banner__img',
                height: nil,
                alt: block.settings.image.alt | escape
              }}
              <div class="banner__outercontent">
                <div class="banner__content">
                  <div class="banner__season">{{block.settings.season}}mid-season</div>
                  <div class="banner__sale">{{block.settings.main_text}}</div>
                  <div class="banner__upto">{{block.settings.subtitle}}up to</div>
                  <div class="banner__discount">{{block.settings.discount}}50 % off</div>
                </div>
                <button class="default-btn banner__btn">shop now</button>
              </div>
            </div>
          {% endif %}
        {% endfor %}
        {% comment %} <img class="banner__img" src="img/main_bg-1.jpg" alt="" /> {% endcomment %}
   </div>
</div>
{% schema %}
{
    "name": "main_banner",
    "tag": "section",
    "class": "section banner",
    "settings": [
      
    ],
    "blocks": [
      {
        "type": "heading",
        "name": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "t:sections.image-banner.blocks.heading.settings.heading.label"
          },
          {
            "type": "text",
            "id": "season",
            "label": "Enter your season of the slide"
          },
          {
            "type": "text",
            "id": "main_text",
            "label": "Enter your title of the slide"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Enter your subtitle of the slide"
          },
          {
            "type": "text",
            "id": "discount",
            "label": "Enter your subtitle of the slide"
          }
        ]
      }
    ],
    "presets": [
      
    ]
  }
{% endschema %}